    html, body { margin: 0; }

    html {
      background-image: url('Logo.png');
      background-repeat: no-repeat;
      background-position: center center; 
      background-attachment: fixed;
      width: fit-content;
        height: fit-content;
      opacity: 0.9;
    }

