    html, body { margin: 0; }

    html {
      background-image: url('Logo.png');
      background-repeat: no-repeat;
      background-position: center center; 
      background-attachment: fixed;
      background-size: cover;
      opacity: 0.8;
    }

